In [72]:
import numpy as np
import pandas as pd
import scipy.linalg as LA
import matplotlib
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.image as mpimg
import sklearn
from PIL import Image
from scipy.misc import imread
from scipy.stats import skew
from scipy.stats.stats import pearsonr
from sklearn.linear_model import Ridge, LassoCV, Lasso
import xgboost as xgb
from sklearn.linear_model import LogisticRegression

In [73]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

all_data = pd.concat((train.loc[:,'RESOURCE':'ROLE_CODE'], test.loc[:,'RESOURCE':'ROLE_CODE']))

train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [74]:
#matplotlib.rcParams['figure.figsize'] = (12.0, 6.0)
#prices = pd.DataFrame({"price":train["SalePrice"], "log(price + 1)":np.log1p(train["SalePrice"])})
#prices.hist()
#log transform the target:
train["Action"] = np.log1p(train["ACTION"])

#log transform skewed numeric features:
numeric_feats = all_data.dtypes[all_data.dtypes != "object"].index
                               
skewed_feats = train[numeric_feats].apply(lambda x: skew(x.dropna())) #compute skewness
skewed_feats = skewed_feats[skewed_feats > 0.75]
skewed_feats = skewed_feats.index

all_data[skewed_feats] = np.log1p(all_data[skewed_feats])

all_data = pd.get_dummies(all_data)

#filling NA's with the mean of the column:
all_data = all_data.fillna(all_data.mean())

#creating matrices for sklearn:
X_train = all_data[:train.shape[0]]
X_test = all_data[train.shape[0]:]
y = train.ACTION

In [75]:
X_train.head()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,10.580353,11.355991,117961,118300,123472,11.677643,11.677651,290919,11.677668
1,9.751734,7.340187,117961,118343,123125,11.682980,11.682980,308574,11.683006
2,10.511213,9.579003,118219,118220,117884,11.677422,12.498567,19721,11.677431
3,10.495045,8.593599,117961,118343,119993,11.681165,12.392486,290919,11.681173
4,10.661509,8.683724,117929,117930,119569,11.689598,11.727496,19793,11.689615

In [76]:
X_test.head()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,11.274249,11.194578,118079,118080,117878,11.677422,11.679947,19721,11.677431
1,10.612631,8.384576,117961,118327,118507,11.685735,11.711850,118398,11.685752
2,11.231146,7.781556,117961,118300,119488,11.679905,12.616641,249618,11.679930
3,10.674059,9.902837,117961,118225,118403,11.701676,11.821792,118960,11.701685
4,10.647660,10.820098,117961,118343,119598,11.682018,12.611994,118424,11.682044

In [77]:
y.shape

(32769,)

We've tried several types of LogisticRegression Solvers. Namely, lbfgs, sag, newton-cg

In [78]:
log = LogisticRegression(solver='lbfgs')
log = log.fit(X_train,y)

predictions = log.predict(X_test)

results = pd.DataFrame({"Id":test.id, "Action":predictions})
results.to_csv("LogisticResults.csv", index = False)

In [79]:
results

       Action     Id
0           1      1
1           1      2
2           1      3
3           1      4
4           1      5
5           1      6
6           1      7
7           1      8
8           1      9
9           1     10
10          1     11
11          1     12
12          1     13
13          1     14
14          1     15
15          1     16
16          1     17
17          1     18
18          1     19
19          1     20
20          1     21
21          1     22
22          1     23
23          1     24
24          1     25
25          1     26
26          1     27
27          1     28
28          1     29
29          1     30
...       ...    ...
58891       1  58892
58892       1  58893
58893       1  58894
58894       1  58895
58895       1  58896
58896       1  58897
58897       1  58898
58898       1  58899
58899       1  58900
58900       1  58901
58901       1  58902
58902       1  58903
58903       1  58904
58904       1  58905
58905       1  58906
58906       1  58907
58907       1  58908
58908       1  58909
58909       1  58910
58910       1  58911
58911       1  58912
58912       1  58913
58913       1  58914
58914       1  58915
58915       1  58916
58916       1  58917
58917       1  58918
58918       1  58919
58919       1  58920
58920       1  58921

[58921 rows x 2 columns]

In [80]:
log.score(X_train, y)

0.94210992096188473

Our attempt at one hot encoding:

In [81]:
encoder = sklearn.preprocessing.OneHotEncoder()
label_encoder = sklearn.preprocessing.LabelEncoder()
data_label_encoded = label_encoder.fit_transform(train['Action'])
train['Action'] = data_label_encoded
data_feature_one_hot_encoded = encoder.fit_transform(train[['Action']].as_matrix())

#data_feature_one_hot_encoded[:,1]

In [82]:
model_xgb = xgb.XGBRegressor(n_estimators=10000, max_depth=20, learning_rate=0.2)
model_xgb.fit(X_train, y)

xgb_preds = model_xgb.predict(X_test)

results = pd.DataFrame({"id":test.id})
results["ACTION"]=xgb_preds
results.to_csv("XGBresults2.csv", index = False)

In [83]:
train

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,Action
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908,1
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539,1
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880,1
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322,1
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325,1
5,0,45333,14561,117951,117952,118008,118568,118568,19721,118570,0
6,1,25993,17227,117961,118343,123476,118980,301534,118295,118982,1
7,1,19666,4209,117961,117969,118910,126820,269034,118638,126822,1
8,1,31246,783,117961,118413,120584,128230,302830,4673,128231,1
9,1,78766,56683,118079,118080,117878,117879,304519,19721,117880,1
10,1,4675,3005,117961,118413,118481,118784,117906,290919,118786,1
11,1,15030,94005,117902,118041,119238,119093,138522,119095,119096,1
12,1,79954,46608,118315,118463,122636,120773,123148,118960,120774,1
13,1,4675,50997,91261,118026,118202,119962,168365,118205,119964,1
14,1,95836,18181,117961,118343,118514,118321,117906,290919,118322,1
15,1,19484,6657,118219,118220,118221,117885,117886,117887,117888,1
16,1,114267,23136,117961,118052,119742,118321,117906,290919,118322,1
17,1,35197,57715,117961,118446,118701,118702,118703,118704,118705,1
18,1,86316,7002,117961,118343,123125,118278,132715,290919,118279,1
19,1,27785,5636,117961,118413,122007,118321,117906,290919,118322,1
20,1,37427,5220,117961,118300,118458,120006,303717,118424,120008,1
21,1,15672,111936,117961,118300,118783,117905,240983,290919,117908,1
22,1,92885,744,117961,118300,119181,118777,279443,308574,118779,1
23,1,1020,85475,117961,118300,120410,118321,117906,290919,118322,1
24,1,4675,7551,117961,118052,118867,118259,117906,290919,118261,1
25,1,41334,28253,118315,118463,123089,118259,128796,290919,118261,1
26,1,77385,14829,117961,118052,119986,117905,117906,290919,117908,1
27,1,20273,11506,118216,118587,118846,179731,128361,117887,117973,1
28,1,78098,46556,118090,118091,117884,118568,165015,19721,118570,1
29,1,79328,4219,117961,118300,120312,120313,144958,118424,120315,1
...,...,...,...,...,...,...,...,...,...,...,...
32739,1,20293,27915,117926,117927,117920,118568,281735,19721,118570,1
32740,1,40867,3197,117961,118386,120361,117905,117906,290919,117908,1
32741,1,22402,6199,117961,118225,120663,118321,117906,290919,118322,1
32742,1,73581,2229,117961,118300,118450,119192,135136,119184,119194,1
32743,1,31639,50976,117961,118413,119968,117905,117906,290919,117908,1
32744,1,42093,5396,117961,118343,119993,118321,117906,290919,118322,1
32745,1,5491,27394,117961,118343,119142,118685,152298,308574,118687,1
32746,1,27133,2610,117961,118327,121979,118321,117906,290919,118322,1
32747,1,27785,4871,117961,118300,125872,120006,159698,118424,120008,1
32748,1,80247,2299,117961,117962,119223,120516,146694,120518,120519,1
32749,1,75915,1728,117961,118327,118507,121527,128634,118398,121529,1
32750,1,77178,3225,117961,118327,118929,118784,126514,290919,118786,1
32751,1,16442,4659,117961,118225,120663,118321,117906,290919,118322,1
32752,1,32529,22355,118120,118121,117920,121067,229187,121069,121070,1
32753,1,23096,53282,118290,118291,120211,117985,121679,19793,117987,1
32754,1,52684,59712,117916,118150,117884,117885,117913,117887,117888,1
32755,1,42085,54618,117961,118052,118821,117905,240983,290919,117908,1
32756,1,79969,3221,120342,120343,124133,118728,244948,118295,118730,1
32757,1,16639,4945,117961,118300,118360,118129,122064,118131,118132,1
32758,1,33118,5423,117961,118327,118391,123045,123107,120518,123047,1
32759,1,15679,46503,120140,120141,121589,120952,120953,118453,120954,1
32760,1,17308,1550,117961,118225,123173,119093,123174,119095,119096,1
32761,1,16354,25618,117961,118327,118320,122060,122060,290919,122062,1
32762,1,6921,3954,117961,118343,120291,118422,300136,118424,118425,1
32763,1,32147,3883,117961,118343,119987,118784,118785,290919,118786,1
32764,1,23497,16971,117961,118300,119993,118321,240983,290919,118322,1
32765,1,25139,311198,91261,118026,122392,121143,173805,249618,121145,1
32766,1,34924,28805,117961,118327,120299,124922,152038,118612,124924,1
32767,1,80574,55643,118256,118257,117945,280788,280788,292795,119082,1
32768,1,14354,59575,117916,118150,117920,118568,122142,19721,118570,1

In [84]:
results

          id    ACTION
0          1  1.002400
1          2  0.985969
2          3  1.001093
3          4  0.998022
4          5  1.006230
5          6  0.999932
6          7  0.867902
7          8  0.999882
8          9  0.835284
9         10  1.003176
10        11  0.999820
11        12  1.004638
12        13  0.997605
13        14  1.003712
14        15  1.003173
15        16  0.752241
16        17  0.999434
17        18  0.991703
18        19  0.961902
19        20  0.992639
20        21  1.002970
21        22  1.004629
22        23  0.986895
23        24  0.986560
24        25  1.011782
25        26  0.912960
26        27  0.902628
27        28  0.996894
28        29  1.000346
29        30  0.951557
...      ...       ...
58891  58892  0.919555
58892  58893  0.788372
58893  58894  0.840327
58894  58895  0.936487
58895  58896  0.958827
58896  58897  1.008687
58897  58898  1.005296
58898  58899  0.996931
58899  58900  1.016876
58900  58901  1.001159
58901  58902  1.012274
58902  58903  0.986865
58903  58904  0.887882
58904  58905  1.002602
58905  58906  0.995092
58906  58907  1.001562
58907  58908  0.800549
58908  58909  0.998380
58909  58910  0.000474
58910  58911  0.997918
58911  58912  1.004759
58912  58913  0.997416
58913  58914  1.025361
58914  58915  0.994574
58915  58916  1.002599
58916  58917  1.014069
58917  58918  0.993563
58918  58919  1.000125
58919  58920  0.871936
58920  58921  1.006335

[58921 rows x 2 columns]

In [85]:
model_xgb.score(X_train, y)

0.99993627361295767

XGB Best submission score so far: .8284